body {
  padding-top: 50px;
}
.search-result {
  border: 1px solid black;
  width: 70%;
  margin: 0 auto;
  padding: 15px;
  word-wrap: break-word;
}

.yt-thumbnail {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.search-result > a {
  text-align: center;
}